
.footerBox{
    background-color: #2E7D5E;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}   

.footerTextBox{
    padding-top: 30px;
    margin-right: 100px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.footerText{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 22px;
}

.smallSpanText{
    font-size: 15px;
}

.footerItem{
    padding: 8px;
}

.footerList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.footerItemLink{
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 20px;
}